body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fcfcf6;
    line-height: 1.4;
    background-color: #22212c;
}

::selection {
    background-color: #47435b;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 .header-link, h2 .header-link, h3 .header-link, h4 .header-link, h5 .header-link, h6 .header-link{
    visibility: hidden;
}

h1:hover .header-link, h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
    visibility: visible;
}

.header-link {
    margin-left: 0.5rem;
}

h1,
p {
    margin-bottom: 1.5rem;
}

.wrapper {
    max-width:36rem;
    margin: 0 auto;
    padding: 0 1.5rem 1.5rem;
}

.post-link {
    font-size: 16px;
}

.post-description {
    font-size: 14px;
}

hr {
    margin-bottom: 12px;
    border: #7171ab 1px solid;
    clear: both;
}

a {
    text-decoration: none;
}

a:link {
    color: #8dff82;
    fill: #8dff82;
}

a:visited {
   color: #9781fd;
   fill: #9781fd;
}

a:hover {
    color: #7a71ab;
}

.code-meta {
    float: right;
    margin-left: 16px;
}

.copy-button {
    cursor: pointer;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: -4px;
    padding: 2px;
    border-radius: 4px;
}

.copy-button:active{
    background-color: #22212c;
}

.language-text {
    font-size: 14px;
    color: #7171ab !important;
    line-height: 1.0 !important;
    padding-right: 8px !important;
}

.code-title{
    all: initial;
    font-size: 14px;
    width: 100%;
    font: inherit !important;
    margin-right: 12px;
    color: #7171ab !important;
}

.code-title {

}

.title {
    margin-bottom: 0.5rem;
}

.social-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.5rem;
}

.social-container a {
    margin: 0 8px;
}

.license-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #7171ab;
    font-size: 14px;
}

.license-container a {
    color: #7171ab;
    text-decoration: underline;
}

.license-container a:hover {
    color: #8dff82;
}

dd {
    margin-bottom: 1.5rem;
}

.description {
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}

.topic-button {
    display:block;
    width: 100%;
    text-align: center;
    padding: 12px 22px;
    margin: 8px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fcfcf6;
    background-color: #2b2640;
}

.topic-button:hover {
    background-color: #47435b;
}

.topic-button-container {
    padding: 0 32px;
}

main {
    margin-top: 1.5rem;
}

.menubtn, .menubtn:hover {
    background-color: #2b2640;
    color: #fcfcf6 !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.menu {
    background-color: #2b2640;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.topmenu {
    position: relative;
    display: inline-block;
    overflow: show;
}

.topmenu-right {
    float: right;
}

.topic-items {
    display: none;
    position: absolute;
    background-color: #2b2640;
    color: #fcfcf6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.topic-items a {
    color: #fcfcf6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of topmenu links on hover */
.topic-items a:hover {background-color: #47435b;
    color: #fcfcf6;}

/* Show the topmenu menu on hover */
.topmenu:hover .topic-items {display: block;}

/* Change the background color of the topmenu button when the dropdown content is shown */
.menubtn:hover {background-color: #47435b;}

.jargon-term {
  text-decoration: underline dotted #81ffeb;
}
.jargon-term::after {
  content: "?";
  font-weight: bold;
  display: inline-block;
  transform: translate(0, -0.5em);
  font-size: 75%;
  color: #81ffeb;
  margin-left: 3px;
}
.jargon-term:hover {
  position: relative;
  text-decoration: none;
  cursor: help;
}
.jargon-term .jargon-info {
  display: none
}
.jargon-term:hover .jargon-info {
  display: block;
  position: absolute;
  top: 1.0em;
  left: 0;
  background: #2b2640;
  border: 1px solid #81ffeb;
  padding: 1rem;
  border-radius: 4px;
  font-size: 90%;
  min-width: 250px;
  max-width: 450px;
  z-index: 1;
}

.katex {
    white-space: normal !important;
    color: #81ffeb !important;
}
